tensorboard
torch~=2.6.0+cu124
torchvision~=0.21.0+cu124
tqdm~=4.67.1
torchsummary
numpy~=2.1.2
h5py~=3.13.0
pytorch-lightning==0.7.6

tifffile~=2023.4.12
scipy~=1.13.1
pandas~=2.2.2
matplotlib~=3.9.2
seaborn~=0.13.2
scikit-learn~=1.5.1
lightning~=2.5.1
optuna~=4.3.0